<div class="modal-bg">
    <div class="modal-layout white-layout">
        <div class="modal-info">
            <h1>ID: {{cameraDetail.input.cameraId}}</h1>
            <h1>Name: {{cameraDetail.input.cameraName}}</h1>
            <div class="modal-btn-gr">
                <button class="modal-btn" 
                    [ngClass]="{
                        'modal-btn-unactive': cameraDetail.input.isActive,
                        'modal-btn-active': !cameraDetail.input.isActive
                    }" 
                    [hidden]="stationController.currentUser.role != 'Admin'"
                    (click)="ChangeStatus()">
                    {{ cameraDetail.input.isActive ? 'Unactive' : 'Active' }}
                </button>
                <button class="modal-btn modal-btn-close" (click)="cameraDetail.Close()">Close</button>
            </div>
            <hr>
        </div>
        <div class="modal-camera-img">
            <img class="modal-camera-img" [src]="presence.onlineCameras.get(cameraDetail.input.cameraName) 
                ? 'data:image/png;base64,' + presence.onlineCameras.get(cameraDetail.input.cameraName) 
                : '/assets/no-image.svg'">
        </div>
    </div>
</div>