/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --bg1: #e5e8ec;
    --pri: #0b57d0;
    --sec: #3a84df;
    --ter: #5896e4;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg1);
}

input:focus::placeholder {
    color: transparent;
}

button {
    cursor: pointer;
    border-radius: 8px;
}

circle {
    stroke: var(--pri);
}

svg {
    fill: #fff;
}

.loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.one-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Giới hạn số dòng là 2 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.two-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Giới hạn số dòng là 2 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.white-layout {
    border-radius: 20px;
    background-color: white;
}

.login-layout {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-row {
    position: relative;
    width: 250px;
    height: 50px;
}

.login-form-input-fs {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 5%;
}

.login-form-input-fs:focus-within {
    border: 2px ridge var(--pri);
    height: 48.2px;
}

.login-form-input-fs:focus-within .login-form-input-lg {
    display: block;
    color: var(--pri);
}

.login-form-input-lg {
    font-size: 12px;
    display: none;
}

.login-form-input {
    position: absolute;
    bottom: 2px;
    width: 95%;
    height: 31.2px;
    border: none;
    outline: none;
    font-size: 20px;
}

.login-form-input::placeholder {
    font-size: 20px;
}

.login-btn {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: large;
    background-color: var(--pri);
    border: none;
    width: 100%;
    height: 40px;
}

.icon {
    padding: 20px;
}

.icon-location {
    max-height: 200px;
}

.main-layout {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 40px;
    width: 100%;
    height: 100%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
    width: 22.5%;
    height: 100%;
}

.main-info {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 32%;
}

.btn-group {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn-addTog {
    background-color: white;
    border: 2px solid var(--ter);
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-addTog:hover {
    border: 2px solid var(--sec);
}

.btn-toMyLocation {
    background-color: white;
    border: 2px solid var(--ter);
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url("/assets/mylocation2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btn-toMyLocation:hover {
    border: 2px solid var(--sec);
    background-image: url("/assets/mylocation.png");
}

.btn-logout {
    color: white;
    font-size: large;
    background-color: var(--pri);
    border: none;
    width: 100px;
    height: 40px;
}

.main-tab {
    padding: 10px;
    margin-top: calc(100% * 2*(3 / 65));
    width: 100%;
    height: 65%;
}

.main-tabs {
    display: flex;
    flex-direction: row;
    height: 7.5%;
}

.main-tab-camera, .main-tab-station, .main-list {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border: 4px solid var(--sec);
}

.main-tab-camera, .main-tab-station {
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
}

.main-list {
    overflow-y: scroll;
    height: 92.5%;
    border-radius: 0px 8px 8px 8px;
}

.main-map {
    width: 75%;
    height: 100%;
}