/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --bg1: #e5e8ec;
    --pri: #0b57d0;
    --sec: #3a84df;
    --ter: #5896e4;

    --current: #209BFF;
    --online: #20FF20;
    --offline: #606060;
    --unactive: #FF4040;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg1);
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

input:focus::placeholder {
    color: transparent;
}

button {
    cursor: pointer;
    border-radius: 8px;
}

button:disabled {
    filter: grayscale(75%);
    background-color: #cccccc1f;
}

li:nth-child(even) {
    background-color: whitesmoke;
}

li:nth-child(odd) {
    background-color: #e4e4e4;
}

li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

circle {
    stroke: var(--pri);
}

.loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-bg {
    position: absolute;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000004d;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998;
}

.modal-layout {
    display: flex;
    flex-direction: row;
}

.modal-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal-camera-img {
    width: 640px;
    height: 360px;
}

.modal-btn {
    font-size: large;
    width: 100px;
    height: 40px;
    margin-right: 10px;
}

.modal-btn-close {
    color: white;
    background-color: var(--pri);
    border: none;
}

.modal-btn-unactive {
    color: var(--unactive);
    background-color: white;
    border: 2px solid var(--unactive);
}

.modal-btn-active {
    color: var(--online);
    background-color: white;
    border: 2px solid var(--online);
}

.modal-btn-gr {
    display: flex;
    flex-direction: row;
}

.leaflet-marker-icon[src="/assets/marker/Marker-Camera-Online.svg"],
.leaflet-marker-icon[src="/assets/marker/Marker-Camera-UnActive.svg"],
.leaflet-marker-icon[src="/assets/marker/Marker-Station-Current.svg"],
.leaflet-marker-icon[src="/assets/marker/Marker-Station-Online.svg"],
.leaflet-marker-icon[src="/assets/marker/Marker-Station-UnActive.svg"]
{
    animation: fa-blink 1.5s linear infinite;
}

@keyframes fa-blink {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.one-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Giới hạn số dòng là 2 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.two-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Giới hạn số dòng là 2 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.eye-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-btn {
    height: 28px;
}

.status {
    margin: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.status-offline {
    background-color: var(--offline);
}

.status-online {
    background-color: var(--online);
    animation: fa-blink 1.5s linear infinite;
}

.status-current {
    background-color: var(--current);
    animation: fa-blink 1.5s linear infinite;

}

.status-unactive {
    background-color: var(--unactive);
    animation: fa-blink 1.5s linear infinite;
}

.white-layout {
    border-radius: 20px;
    background-color: white;
}

.login-layout {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-row {
    position: relative;
    width: 250px;
    height: 50px;
}

.login-form-input-fs {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 5%;
}

.login-form-input-fs:focus-within {
    border: 2px ridge var(--pri);
    height: 48.2px;
}

.login-form-input-fs:focus-within .login-form-input-lg {
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    display: block;
    color: var(--pri);
}

.login-form-input-lg {
    font-size: 12px;
    display: none;
}

.login-form-input {
    position: absolute;
    bottom: 2px;
    width: 95%;
    height: 31.2px;
    border: none;
    outline: none;
    font-size: 20px;
}

.login-form-input::placeholder {
    font-size: 20px;
}

.login-btn {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: large;
    background-color: var(--pri);
    border: none;
    width: 80%;
    height: 40px;
}

.icon {
    padding: 20px;
}

.icon-location {
    max-height: 200px;
}

.main-layout {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 40px;
    width: 100%;
    height: 100%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
    width: 22.5%;
    height: 100%;
}

.main-info {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 32%;
}

.btn-group {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn-addTog {
    background-color: white;
    border: 2px solid var(--ter);
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-addTog:hover {
    border: 2px solid var(--sec);
}

.btn-toMyLocation {
    background-color: white;
    border: 2px solid var(--ter);
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url("/assets/mylocation2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btn-toMyLocation:hover {
    border: 2px solid var(--sec);
    background-image: url("/assets/mylocation.png");
}

.btn-toLocation {
    background-color: white;
    border: 2px solid var(--ter);
    margin: 2px;
    width: 24px;
    height: 24px;
    background-image: url("/assets/mylocation2.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-toLocation:hover {
    border: 2px solid var(--sec);
    background-image: url("/assets/mylocation.png");
}

.btn-edit {
    background-color: white;
    border: 2px solid var(--ter);
    margin: 2px;
    width: 24px;
    height: 24px;
    background-image: url("/assets/edit2.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-edit:hover {
    border: 2px solid var(--sec);
    background-image: url("/assets/edit.svg");
}

.btn-logout {
    color: white;
    font-size: large;
    background-color: var(--pri);
    border: none;
    width: 100px;
    height: 40px;
}

.main-tab {
    padding: 10px;
    margin-top: calc(100% * 2*(3 / 65));
    width: 100%;
    height: 65%;
}

.main-tabs {
    display: flex;
    flex-direction: row;
    height: 7.5%;
}

.main-tab-active {
    color: var(--sec);
    font-weight: bold;
}

.main-tab-camera, .main-tab-station, .main-list {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border: 4px solid var(--sec);
}

.main-tab-camera, .main-tab-station {
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
}

.main-list {
    padding-top: 4px;
    padding-bottom: 4px;
    overflow-y: scroll;
    height: 92.5%;
    border-radius: 0px 8px 8px 8px;
}

.main-map {
    width: 75%;
    height: 100%;
}